{% extends 'html/header.html'%}
{% block title %} login {% endblock %}
{% block content %}
<div class="container">
   <div class="card col-md-4 mx-auto mt-5 shadow-lg">
     <div class="card-body"> 
     	<h3 class="bg-success text-light p-3 text-center border rounded">login</h3>
     	<form><input type="text" name="" placeholder="username" class="form-control my-2"></form>
     		<form><input type="text" name="" placeholder="password" class="form-control my-2"></form>
     		<input type="submit" class="btn btn-primary btn-block" value="login">
     </div>
  </div>
</div>

{% endblock %}